body {
    background: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}

h3,
h5 {
    font-weight: 500;
}

h1 {
    font-size: 40px;
    letter-spacing: 2px;
}

h2 {
    font-size: 30px;
    text-transform: uppercase;
}

h3 {
    line-height: 36px;
}

h5 {
    letter-spacing: 1px;
    padding-top: 10px;
}

p {
    color: #707070;
    font-size: 14px;
    line-height: 24px;
}

a {
    text-decoration: none !important;
    outline: none;
}

.section-title {
    margin-bottom: 32px;
}

#overview {
    padding-top: 14rem;
    padding-bottom: 14rem;
}

#detail,
#program,
#sponsors,
#speakers {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

#detail,
#sponsors,
#speakers,
footer {
    text-align: center;
}

#detail .points {
    text-align: left;
}
#overview h3,
#detail h3,
#venue h3 {
    padding-bottom: 12px;
}

#home .btn {
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 0px;
    -or: #ffffff;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 12px;
    padding: 14px 42px;
    margin-top: 42px;
    margin-right: 12px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

#home h1 {
    font-size: 50px;
}

#home .btn-danger {
    background: #00b657;
    border-color: transparent;
}

#home .btn-danger:hover {
    background: transparent;
    border-color: #ffffff;
    color: #ffffff;
}

#home .btn-default:hover {
    background: #ffffff;
    color: #333333;
    border-color: transparent;
}

.parallax-section {
    background-attachment: fixed !important;
    background-size: cover !important;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: none repeat scroll 0 0 #ffffff;
}

.spinner {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;
  }
  
  .cube1, .cube2 {
    background-color: #333;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    left: 0;
    
    -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
    animation: sk-cubemove 1.8s infinite ease-in-out;
  }
  
  .cube2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  
  @-webkit-keyframes sk-cubemove {
    25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
    50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
    75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
    100% { -webkit-transform: rotate(-360deg) }
  }
  
  @keyframes sk-cubemove {
    25% { 
      transform: translateX(42px) rotate(-90deg) scale(0.5);
      -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    } 50% { 
      transform: translateX(42px) translateY(42px) rotate(-179deg);
      -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
    } 50.1% { 
      transform: translateX(42px) translateY(42px) rotate(-180deg);
      -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    } 75% { 
      transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
      -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    } 100% { 
      transform: rotate(-360deg);
      -webkit-transform: rotate(-360deg);
    }
  }
.custom-navbar {
    margin-bottom: 0;
    background-color: #101010;
}

.custom-navbar .navbar-brand {
    color: #ffffff;
    font-weight: 600;
    font-size: 3rem;
    line-height: 40px;
}

.custom-navbar .nav li a {
    padding: 1.6em;
    color: #ddd;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    line-height: 40px;
    transition: all 0.4s ease-in-out;
}

.custom-navbar .nav li a:hover {
    background: transparent;
    color: #00b657;
}

.custom-navbar .navbar-nav>li>a:hover,
.custom-navbar .navbar-nav>li>a:focus {
    background-color: transparent;
}

.custom-navbar .nav li.active>a {
    background-color: transparent;
    color: #00b657;
}

.custom-navbar .navbar-toggle {
    border: none;
    padding-top: 10px;
}

.custom-navbar .navbar-toggle {
    background-color: transparent;
}

.custom-navbar .navbar-toggle .icon-bar {
    background: #ffffff;
    border-color: transparent;
}

@media(min-width:768px) {
    .custom-navbar {
        padding: 20px 0;
        border-bottom: 0;
        background: 0 0;
    }
    .custom-navbar.top-nav-collapse {
        background: #101010;
        padding: 0;
    }
}

@media(max-width:981px) {
    .custom-navbar img {
        max-width: 34px;
        max-height: 34px;
    }
    .custom-navbar {
        padding-bottom: 10px;
    }
}

#home {
    background: url('../images/home-banner.jpg');
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    color: #ffffff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}
.overlay {
    position: relative;
    background-color: rgba(255,0,0,0.5);
}

#home h3 {
    letter-spacing: 2px;
}

#overview {
    background-color: #3e3e3e;
}

#overview h3 {
    color: #00b657;
    font-size: 28px;
}

#overview p {
    color: #ffffff;
    font-size: 19px;
}

#overview img {
    position: relative;
    padding-bottom: 0px;
    margin-top : 70px; 
}

#program h4 {
    color: #808080;
    font-size: 12px;
}

#program h3 {
    margin-top: 16px;
}

#program .program-divider {
    border: 1px solid #f9f9f9;
    margin-top: 32px;
    margin-bottom: 42px;
}

#program span {
    padding-right: 12px;
}

#faq {
    background: #f9f9f9;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

#faq h2 {
    color: #00b657;
}

#faq h4 {
    color: #00b657;
}

#faq p {
    color: #222222;
}

#faq .panel-group {
    margin-top: 32px;
}

#faq .panel-group .panel {
    margin-bottom: 8px;
}

#faq .panel-default {
    border: none;
}

#faq .panel-default>.panel-heading {
    background: #f0f0f0;
    color: #505050;
}

#faq .panel-heading {
    border: none;
    padding-top: 8px;
    padding-bottom: 6px;
}

#faq .panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top: none;
    padding-top: 22px;
    padding-left: 32px;
    padding-bottom: 22px;
}

#faq .panel-heading .panel-title a[data-toggle="collapse"] {
    font-size: 18px;
    font-weight: 500;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px 15px;
}

#faq .panel-heading .panel-title a[data-toggle="collapse"]::after {
    content: "-";
    display: block;
    position: absolute;
    line-height: 1;
    right: 1em;
    top: 50%;
    transform: translateY(-50%);
}

#faq .panel-heading .panel-title a[data-toggle="collapse"].collapsed::after {
    content: "+";
}

@media(min-width:768px) {
    .resize {
        width: 30%;
        height: 30%;
        padding-left: 115px;
    }
}

#sponsors {
    padding-top: 150px;
    padding-bottom: 150px;
}

#sponsors img {
    margin-top: 30px;
}

#sponsors h2 {
    color: #00b657;
}

#sponsors p {
    color: #222222;
}

#venue {
    background: url('../images/venue-bg.jpg') 50% 0 repeat-y fixed;
    background-size: cover;
    background-position: center center;
    padding-top: 150px;
    padding-bottom: 150px;
}

#venue h2 {
    color: #00b657;
    font-size: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#detail {
    background: #222;
    color: #ffffff;
}

#detail .fa {
    color: #00b657;
    font-size: 48px;
}

#detail p {
    font-size: 20px;
}
#detail li {
    font-size: 30px;
}
#detail h2 {
    font-size: 50px;
}
#detail .quote {
    font-size: 35px;
    color: white;
}
#speakers {
    background: #f9f9f9;
    padding-top: 100px;
    padding-bottom: 100px;
}

#speakers h2 {
    color: #00b657;
}

#speakers p {
    color: #222222;
}

#speakers h3 {
    color: #00b657;
    font-size: 18px;
    margin-bottom: 0px;
}

#speakers h6 {
    color: #222222;
    margin-top: 4px;
}

#speakers img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

#speakers .col-md-3 {
    display: block;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 22px;
}

#speakers .speakers-wrapper {
    background: #ffffff;
    padding-bottom: 22px;
    display: inline-block;
    margin: 0 30px;
    width: 190px;
    height: 190px;
    overflow: hidden;
    border-radius: 50%;
}

.nav-tabs {
    margin-bottom: 20px;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs>li>a {
    color: #000000;
    font-weight: 600;
    margin-right: 2px;
    line-height: 1.42857143;
    border: none;
    border-radius: 0px;
}

.nav-tabs>li>a:hover {
    background-color: transparent;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    color: #00b657;
    cursor: default;
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom-color: #999;
}

.tab-content {
    padding-top: 20px;
}

footer {
    background-attachment: fixed;
}

.go-top {
    background-color: #222;
    bottom: 2em;
    right: 2em;
    color: #ffffff;
    font-size: 32px;
    display: none;
    position: fixed;
    text-decoration: none;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    transition: all 0.4s ease-in-out;
}

.go-top:hover {
    background: #00b657;
    color: #ffffff;
}

.social-icon {
    position: relative;
    padding: 0;
    margin: 0;
}

.social-icon li {
    display: inline-block;
    list-style: none;
}

.social-icon li a {
    color: #666;
    border-radius: 100px;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
}

.social-icon li a:hover {
    background: #1dcaff;
    color: #ffffff;
}

@media (max-width: 980px) {
    p {
        font-size: 13px;
    }
    .custom-navbar .navbar-brand {
        font-size: 2rem;
    }
    .custom-navbar .nav li a {
        font-size: 11px;
        line-height: 20px;
    }
    #home {
        height: 65vh;
    }
}

@media (max-width: 768px) {
    .custom-navbar .navbar-brand {
        line-height: 20px;
    }
    #overview img,
    #detail .col-md-4 form {
        padding-top: 32px;
    }
    .nav-tabs>li>a {
        font-size: 13px;
    }
    #program img {
        padding-bottom: 32px;
    }
    #sponsors img {}
}

@media (max-width: 768px) {
    #home {
        height: 100vh;
        background: #141E30;
        background: -webkit-linear-gradient(to right, #243B55, #141E30);
        background: linear-gradient(to right, #243B55, #141E30);
    }
    #home h3 {
        font-size: 15px;
    }
    #home h1 {
        font-size: 35px;
    }
}